- const frinds = 1;
case frinds
  when 0
    p you not have a frind
  when 1
    p you have a frind
  default
    p get frinds #{frinds}


- let language = "three"
case language
  when "zero": p you not have any language
  when "one" : p you have a language
  default: p get #{language} frinds