extends index
include mixins

block pageTitle
  title hello page title

//- block pagecontent
//-   body(class="white")
//-   .container
//-     +skills
//-     +names
//-     +programming_lang('hello programming langu')


block prepend footer
  main hello brother
  main hello users