include DataIncludes/vars
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include DataIncludes/styles
    block pageTitle
      title #{BrandName}
  block pagecontent
    body(class="dark")
    include DataIncludes/nav
    include code and js code
    include loop
    include each
    include interpolation
    include mixins
    +skills
    +names
    +programming_lang('hello programming langu')

    block footer
      main hello pro in footer info
    include cases