doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../style/master.css")
    title learn pug
  body
    div(class="container") hello container
      div(class="row") hello row
    h1: h2: h3: h4
    ul
      li html
      li css
      li scss
      li js
      li ts <b>hellp pro</b>