mixin skills
  ul
    li pug
    li html
    li css
    li scss
    li javaScript
    li typeScript

mixin names
  div
    h1 title name is #{BrandName}
    li ashraf
    li shino
    li ali
    li elkwawy
    li nono
    li batot

mixin programming_lang(brand)
  ul
    h1= brand
    li python
    li java
    li cpp
    li c#
    li javaScript
    li typeScript