html
  head
    title white space
  body
    div(class="container")
      h1 hello world
      p i love<b>pugjs</b> and <b>scss</b>

      p
        | i love
        b pugjs
        |  and 
        b scss
      |
      |
      .
        text