header.navgationBar
  h2(class="brand_name text-2xl text-red-900")
  ul#links
    li: a(href="./home" class="link underline-none") home
    li: a(href="./skills" class="link underline-none") skills
    li: a(href="./services" class="link underline-none") serv
    li: a(href="./contact" class="link underline-none") contact
